ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPvdGVGJ73Sj+AAFs90eEi+mryYqq2cvrg4sBeecjUxY fred@MBP-de-frederic.localdomain
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQChHUM6EFeRbE+9pxm21UrVwe4baUnPxgie/wKg4oFHpRV7i6HXx1MUICjvKrWymTSG7E5VABMqc5BVBxmOEM7W0LdzEvYCBDE33WWOrg47KdegRi2iWhOCV5gOJvC18zIasL6/w0CTuw0V8hBTTDtOi4GmyRYs9iGI/TSpYL7M78DxRs38U+jwVPv9TB2kR789kxS81rBonq9eza88TQULYSl/1tZzKNp+srMYqQMkJPnPe2yEwRzA1PKkwWRQhdiFUGrXt6365nR3ZdfVFN1VPPku63M/9ldD0vSbjdUNpLOLXaC9bV4uNtavRaiywOdRccOzcTuc711tKl5ClCUqARhFUgvhGNGsweKfC9FFds+mOCxMI2KGX3UFCaRurj9tuQ88nEajfiXnOhflqkVOW4OzxZnjV2C2Que/dwfq9GT2MZwXmIC/aWr6LPS/UyPEenDKRCgHLb/P27O801rYmNO7FGReWBtrfx0tGH4BOTZfmDr3Gtq3hCH8+3FfrIE= fred@MBP-de-frederic